/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the logo */
  .logo img {
    height: 40px;
  }
  
  h2 {
    display: flex;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Style for the navigation links */
  ul {
    display: flex;
    list-style: none;
  }
  
  ul li {
    margin-left: 1rem;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 200px;
    background-color: #5236B9;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    overflow-y: auto;
  }
  
  .sidebar .admin-item {
    margin-bottom: 20px;
  }
  
  .sidebar .admin-item a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar .admin-item img {
    width: 24px;
    margin-right: 10px;
  }
  
  .sidebar .admin-item p {
    margin: 0;
  }
  
  .sidebar .admin-item.active {
    background-color: #6F4CD1;
    border-radius: 4px;
    padding: 10px;
  }
  
  .sidebar .admin-item.active a {
    color: #fff;
  }
  
  .sidebar .admin-item.active p {
    font-weight: bold;
  }
  
  /* Table Styles */
  .document-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .document-table th,
  .document-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .document-table th {
    font-weight: bold;
  }
  
  /* Button Styles */
  .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #6a0dad; /* Purple button background color */
    color: #fff; /* White button text color */
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #560c91; /* Darker purple on hover */
  }
  