.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}


h1 {
    color: purple;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
}

button {
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: purple;
    border: none;
    margin-top: 10px;
}


/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #5236B9;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    overflow-y: auto;
  }
  
  .sidebar .admin-item {
    margin-bottom: 20px;
  }
  
  .sidebar .admin-item a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar .admin-item img {
    width: 24px;
    margin-right: 10px;
  }
  
  .sidebar .admin-item p {
    margin: 0;
  }
  
  .sidebar .admin-item.active {
    background-color: #6F4CD1;
    border-radius: 4px;
    padding: 10px;
  }
  
  .sidebar .admin-item.active a {
    color: #fff;
  }
  
  .sidebar .admin-item.active p {
    font-weight: bold;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the logo */
  .logo img {
    height: 40px;
  }
  
  .h2 {
  
    display: flex;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Style for the navigation links */
  ul {
    display: flex;
    list-style: none;
  }
  
  ul li {
    margin-left: 1rem;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }