<!DOCTYPE html>
<html>

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_index.css') }}">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <h2>Lead City University</h2>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        </ul>
    </nav>
    <div class="admin-container">
        <div class="admin-item">
            <a href="{{ url_for('user_management') }}">
                <img src="{{ url_for('static', filename='images/manage.png') }}" alt="Manage User">
                <p>Manage User</p>
            </a>
        </div>
        <div class="admin-item">
            <a href="{{ url_for('manage_logs') }}">
                <img src="{{ url_for('static', filename='images/logs.png') }}" alt="Manage Document Logs">
                <p>Manage Logs</p>
            </a>
        </div>
    </div>
    </div>
</body>

</html>